
h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    text-shadow: 2px 2px #800000;
}
#container {
    background-color: white;
    border-radius: 15px;
    padding: 0.75%;
}
#mostrar {
    background-color: white;
}
.hidden {
    display: none;
}
.forma-input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-family: Arial, sans-serif;
}

.forma-input label {
    font-size: 18px;
    font-weight: bold;
}

.forma-input input {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sucesso {
    color: green;
}
.erro {
    color: red;
}